@page
@model PEPRN231_SU24_009909_LamMinhDang_FE.Pages.EntityViewModel
@{
}
<h2>Football Management</h2>

<div id="searchForm">
    <input type="text" id="searchAchievements" placeholder="Achievements">
    <input type="text" id="searchNomination" placeholder="Nomination">
    <button onclick="searchJewelry()">Search</button>
</div>

<div id="jewelryList"></div>

<button onclick="showAddForm()">Add New Player</button>

<div id="addForm" style="display:none;">
    <h3>Add New Paintings</h3>
    <input type="text" id="newFootballPlayerId" placeholder="FootballPlayerId" />
    <input type="text" id="newFullName" placeholder="Full Name" />
    <input type="text" id="newAchievements" placeholder="Achievements" />
    <input type="date" id="newBirthday" placeholder="Birthday" />
    <input type="text" id="newNomination" placeholder="Nomination" />
    <input type="text" id="newPlayerExperiences" placeholder="PlayerExperiences" />
    <select id="newFootballClubId"></select>
    <button onclick="addJewelry()">Add</button>
</div>

<div id="editForm" style="display:none;">
    <h3>Edit Paintings</h3>
    <input type="hidden" id="editFootballPlayerId" />
    <input type="text" id="editFullName" placeholder="FullName" />
    <input type="text" id="editAchievements" placeholder="Achievements" />
    <input type="date" id="editBirthday" placeholder="Birthday" />
    <input type="text" id="editNomination" placeholder="Nomination" />
    <input type="text" id="editPlayerExperiences" placeholder="PlayerExperiences" />
    <select id="editFootballClubId"></select>
    <button onclick="updateJewelry()">Update</button>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}